body {
  display: flex;
  height: 100vh;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.inputContainer {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 50px;
}
.habitContainerc {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 150px;
  display: flex;
  background-image: url(image.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 308.31px;
  background-color: white;
}
.habitContainer {
  display: flex;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.password {
  display: flex;
}
* {
  padding: 0;
  margin: 0;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #89cff0 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #89cff0;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: skyblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: black;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #89cff0;
  transform: translateY(-30px);
}

.checkbox {
  padding-top: 35px;
  --color: #89cff0;
  --size: 21px;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.checkbox .lock-open {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.checkbox .lock {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

.checkbox input:checked ~ .lock-open {
  display: none;
}

.checkbox input:checked ~ .lock {
  display: block;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}
.button {
  padding: 15px 45px;
  border: none;
  outline: none;
  background-color: skyblue;
  color: #eee;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.button:hover {
  transform: translateY(-3px);
}

.button-span {
  color: steelblue;
}
